:root {
    --primary: #354252;
    --text: #fafafa;
    --secondary: #5c7dd8;
    --secondary-dark: #405ca7;
    --white: #dedede;
}

.form-container-contacto{
    width: 70em;
}

.form-control::placeholder{
    color: var(--white);
}

textarea{
    resize: none;
}

.form-container-owner, .form-container-success{
    width: 32em;
}