:root {
    --primary: #354252;
    --text: #fafafa;
    --secondary: #5c7dd8;
    --secondary-dark: #405ca7;
    --white: #dedede;
}

body {
    background-color: rgb(255, 249, 238);
}

nav, footer {
    background-color: var(--primary);
}



.nav_item, .footer-item {
    text-decoration: none;
    color: var(--text);
    animation: ease-in-out;
    transition: .2;
}

.nav_item:hover, .footer-item:hover {
    color: var(--secondary);
    animation: ease-in-out;
    transition: .2s;
}

#searchbar {
    color: var(--primary);
}

@media screen and (min-width: 1346px) {
    #searchbar {width: 398px;}
    
}

@media screen and (max-width: 1160px) {
    #searchbar {width: 100%;}
    
}

#searchbar::placeholder {
    color:var(--white);
}

.navbar-btn {
    color:var(--text);
    background-color: var(--secondary);
    
}

.navbar-btn-outline {
    color: #eb6060;
    background-color: transparent;
    border: 1px solid #eb6060;  
}

.navbar-btn:hover {
    color: var(--text);
    background-color: var(--secondary-dark);
}

.navbar-btn-outline:hover {
    color: var(--text);
    background-color: #f35454;
}

.navbar-login {
    width: 120px;
}

.navbar-signup {
    width: 120px;
}

.navbar-profile {
    width: 50px;
}

.avbar-logout {
    width: 150px;
}

.form-container {
    color: white;
    background-color: var(--primary);
    margin:auto;
    padding: 2em;
    border-radius: 0.5em;
}

.form-container-login {
    width: 20em;
}

.form-container-signup {
    width: 35em;
}

.form-container-local {
    width: 70em;
}

.placeholder-label, .input::placeholder {
    color: rgb(120, 123, 126);
    opacity: 1;
}

.btn-create-local, .btn-create-local:enabled {
    height: 100%;
    color: white;
    background-color: #2AA771;
    border: 1px solid #227C55
}

.btn-create-local:hover {
    height: 100%;
    color: white;
    background-color: #59D59F;
    border: 1px solid #108452;
}

.checkbox {
    margin-right: 6px;
}

.form-btn, .form-btn:enabled {
    color: white;
    background-color: var(--secondary);
    border: none;
}

.form-btn:hover {
    color: white;
    background-color: var(--secondary-dark);
}

.a-link {
    color: rgb(149, 170, 230);
    text-decoration: none;
}

.a-link:hover {
    color: rgb(180, 196, 240);
}

.card-container {
    margin: 0 auto;
    width: 75%;
}

.single-card-container {
    margin: 0 auto;
    width: 60%;
}

.filter-container {
    margin: 0 auto;
    width: 75%;
}


.footer-text{
    color: var(--white);
}